In [3]:
a_tuple = (1,2,3,4)
print(a_tuple)

# a_tuple[0] = 2
print(a_tuple)

(1, 2, 3, 4)
(1, 2, 3, 4)

In [4]:
a_dic = {'a':1 , 'b':2 , 'c':3}
print(a_dic)

print(a_dic['a'])

{'a': 1, 'b': 2, 'c': 3}
1

In [5]:
a_dic = {1:'brian', 2: 'smith', 100: 'ronaldo'}

print(a_dic[100])

ronaldo