In [1]:
print("몫 : ",40//6)
print("나머지 : ",40%6)

몫 :  6
나머지 :  4

In [2]:
text = "hey there"

print("hey" in text)

True

In [3]:
text = "hey there"

if "hey" in text :
    print("case a")
else :
    print("case b")

case a

In [4]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [5]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [6]:
for i in range(10,5,-1):
    print(i)

10
9
8
7
6

In [23]:
a_list = [1,2,3,"a","b"]
a_tuple = (1,2,3,"a","c")
a_dict = {3:"a", 2:"b", 1:"c"}

for i in a_dict[3]: 
    print(i)

a

In [27]:
name_list = ["adam","bryan","conan"]
age_list = [10,20,45]

# for i,k in enumerate(name_list):
#     print("i=",i,end='  ')
#     print("k=",k)
    
for i,k in enumerate(name_list):
    print(k,end="  ")
    print(age_list[i])

adam  10
bryan  20
conan  45

In [28]:
print(len(name_list))

3

In [31]:
for i in range(len(name_list)):
    print(name_list[i],"  ",age_list[i])

adam    10
bryan    20
conan    45

In [34]:
for i,k in enumerate(name_list):
    print("number",i,": ",k,"(age=",age_list[i],')')

number 0 :  adam (age= 10 )
number 1 :  bryan (age= 20 )
number 2 :  conan (age= 45 )

In [35]:
list = [i for i in range(10)]
print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
list = []

for i,k in enumerate(name_list):
    list.append(i)
print(list)

[0, 1, 2]

In [42]:
list = [i * 5 for i in range(10)]
print(list)

list = [0 for i in range(10)]
print(list)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [49]:
a = 0
while a < 5:
    print(a)
    a=a+1
    
while True:
    print(a)
    a = a+1
    if a >= 5:
        break

0
1
2
3
4
5